// .chart {
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   justify-content: center;
//   text-align: center;
//   min-height: 100vh;
// }

.chart {
  display: grid;
  grid-template-rows: auto 1fr; /* Title row and chart row */
  text-align: center;
  min-height: 100vh;

  .title {
    font-size: 1.5rem;
    margin-bottom: 10px;
    padding-right: 100px;
  }

  .chart-container2 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    padding-left: 200px;

  }
}
.arc path {
  transition: opacity 0.2s;
}

text {
  font-family: Arial, sans-serif;
  font-size: 12px;
  text-anchor: middle;
}


svg {
  max-width: 100%;
  max-height: 100%;
  overflow: visible;
}
.d3-tip {
  line-height: 1.5;
  font-size: 14px;
  padding: 8px;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 4px;
}

  